NGINX_BASE_URL= # should not contain a port since http and https use their designated ports automatically
ACTIVE_PROFILE= # currently either dev or prod, you might want to use dev for local development

EMAIL_ADDRESS= # If you set up an email address to send your mail from

JWT_SECRET_KEY= # CHANGE UNDER ALL CIRCUMSTANCES!! openssl rand -base64 32


ACCESS_TOKEN_EXPIRATION= # 900000 as recommended value
REFRESH_TOKEN_EXPIRATION= # 604800000 as recommended value

SPRING_MAIL_HOST= # Host of mail address, most likely smtl.blabla.bla

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_HIBERNATE_DDL_AUTO= # for local development, you might want to use update. For prod, you should definitely use validate or none